/* =======================================
   WebMart Shared Styles
   Version: 1.0
======================================= */

/* Global Scrollbar */

html{
    overflow-y:scroll;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#050505;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(180deg,#D4AF37,#B8860B);
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#E5C158;
}

/* Firefox */

html{
    scrollbar-width:thin;
    scrollbar-color:#D4AF37 #050505;
}